@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazirmatn";
  src: url("./assets/fonts/vazirmatn/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("./assets/fonts/vazirmatn/Vazirmatn[wght].woff2")
      format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "materials";
  src: url("./assets/fonts/material/MaterialIcons-Regular.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: "materials" !important;
}
*:not(mat-icon) {
  font-family: "vazirmatn", sans-serif !important;
}
.toast-container {
  direction: rtl;
  .toast-error {
    background-color: #be29298f !important;
  }
  .toast-success {
    background-color: #2da152a8 !important;
  }
  .toast-info {
    background-color: #5991d9b0 !important;
  }
}

// body [class^='mat-'], body [class*=' mat-'] {
//   font-family: 'vazirmatn', sans-serif !important;
// }
