<mat-card
  class="h-fit"
  style="
    background-color: transparent;
    box-shadow: inset 0px 0px 14px #e6dfdf;
    padding: 24px;
  "
>
  <mat-card-title class="p-5"> ثبت نام در سیستم</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field appearance="outline" class="w-96">
          <input
            type="text"
            matInput
            placeholder="نام کاربری"
            formControlName="username"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="w-96">
          <input
            type="text"
            matInput
            placeholder="نام"
            formControlName="firstName"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="w-96">
          <input
            type="text"
            matInput
            placeholder="نام خانوادگی"
            formControlName="lastName"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="w-96">
          <input
            type="text"
            matInput
            placeholder="شماره تلفن"
            formControlName="mobile"
          />
          @if(registerForm.get('mobile')?.errors != null &&
          registerForm.get('mobile')?.errors?.['phoneNumber']){
          <mat-error class="text-end"> شماره موبایل وارد شده صحیح نمیباشد </mat-error>
          }
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="w-96">
          <input
            type="text"
            matInput
            placeholder="ایمیل"
            formControlName="email"
          />
          @if(registerForm.get('email')?.errors != null &&
          registerForm.get('email')?.errors?.['email']){
          <mat-error class="text-end"> ایمیل وارد شده صحیح نمیباشد </mat-error>
          }
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="w-96">
          <input
            type="password"
            matInput
            placeholder="کلمه عبور"
            formControlName="password"
          />
          @if(registerForm.get('password')?.errors != null &&
          registerForm.get('password')?.errors?.['invalidPassword']){
          <mat-error class="text-end">کلمه عبور ۶ کاراکتری(اعداد، حروف بزرگ، کوچک و کاراکترهای خاص) </mat-error>
          }
        </mat-form-field>
      </p>
      <div class="flex justify-between">
        <button type="button" [routerLink]="['/login']" mat-button>ورود</button>
        <button type="submit" mat-button>ثبت نام</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
