<div>
  <mat-card>
    <mat-card-header style="direction: rtl">
      <div class="flex flex-col justify-start items-center w-full">
        <div>
          <h2>لیست تسک ها</h2>
        </div>
        @if(selectedRowIndex !== -1){
        <mat-divider class="w-full"></mat-divider>

        <div class="flex flex-row justify-start items-center w-full p-3">
          <button mat-raised-button (click)="onChangeTaskStatus()" class="ml-5" color="primary">تغییر وضعیت</button>
          <button mat-raised-button (click)="onShowTaskHistory()" class="ml-5" color="primary">تاریخچه تغییر وضعیت</button>
        </div>
        }

        <mat-divider class="w-full"></mat-divider>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table style="direction: rtl; text-align: justify" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="{{ innerColumn.key }}" *ngFor="let innerColumn of columns">
          <th mat-sort-header mat-header-cell class="p-0" *matHeaderCellDef>
            {{ innerColumn.display }}
          </th>
          <th mat-cell *matCellDef="let element; let index = index">
            @if(innerColumn.key === 'deadLine' ){
            <ng-container>
              {{ element[innerColumn.key] | jalaali : 'jYYYY/jMM/jDD' }}
            </ng-container>
            }@else if(innerColumn.key === 'taskStatus' ){
            <ng-container>
              {{ element[innerColumn.key] | translateenum : statusEnum }}
            </ng-container>

            } @else if(innerColumn.key !== 'actions'){
            <ng-container>
              {{ element[innerColumn.key] }}
            </ng-container>
            }
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="highlight(index)"
          [ngClass]="{ highlightTableColor: selectedRowIndex == index }"
          *matRowDef="let row; let index = index; columns: displayedColumns"
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons> </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
